@charset "utf-8";


@font-face {
	font-family: Regular;
	src: url('../fonts/TornaCyrReg.eot');
	src: local('☺'), url('../fonts/TornaCyrReg.woff') format('woff'), url('../fonts/TornaCyrReg.ttf') format('truetype'), url('../fonts/TornaCyrReg.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: Bold;
	src: url('../fonts/TornaCyrBol.eot');
	src: local('☺'), url('../fonts/TornaCyrBol.woff') format('woff'), url('../fonts/TornaCyrBol.ttf') format('truetype'), url('../fonts/TornaCyrBol.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body,dt,dd,p,dl,li,ul,ol,h1,h2,h3,h5,h6{
	margin: 0px;
	padding:0px;
	color:#222;
	font-family: Regular, Arial, Helvetica, sans-serif;
	font-weight: normal;
	}

/*a{outline:none;text-decoration:none}*/